.formSearch {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.inputSearch{
    font-size: 16px;
    padding: 5px;
    border: none;
    width: 170px;
    background-color: whitesmoke;
    border-bottom: 1.5px solid  rgb(56, 57, 124);
}

.inputSearch:focus{
    outline: none;
}

.buttonSearch{
    padding: 5px 10px;
    font-size: 16px;
    border: none;
    border: 1.5px solid rgb(103, 104, 192);
    color:whitesmoke;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;

    transform: 3s;
    background-color:   rgb(103, 104, 192);
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

.buttonSearch:hover{
    border: 1.5px solid rgb(103, 104, 192);
    background-color:  white;
    color: rgb(56, 57, 124);
    
    transform: 3s;
    background-color: white;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}