.userInfo{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    margin-left: 40px;
    font-size: 22px;
}

.avatarResult{
    width: 32px;
    margin-right: 5px;
}

.usernameResult{
    text-decoration: none;
    color: black;
}